.bg {
    width: 100vw;
    height: 100vh;
    z-index: -100;
    position: fixed;
    color: #fff;
    //#526A95, #4C8780, #549659, #5DA68A, #67B5B8,#66ADF4 , #73A3F5, #7F99F5, #AF8CF5, #8A90E3
    background: linear-gradient(-45deg, #526A95, #4C8780, #549659, #5DA68A, #67B5B8,#66ADF4 , #73A3F5, #7F99F5, #AF8CF5, #8A90E3,#526A95, #4C8780, #549659, #5DA68A, #67B5B8,#66ADF4 , #73A3F5, #7F99F5, #AF8CF5, #8A90E3,#526A95, #4C8780, #549659, #5DA68A, #67B5B8,#66ADF4 , #73A3F5, #7F99F5, #AF8CF5, #8A90E3,#526A95, #4C8780, #549659, #5DA68A, #67B5B8,#66ADF4 , #73A3F5, #7F99F5, #AF8CF5, #8A90E3,#526A95, #4C8780, #549659, #5DA68A, #67B5B8,#66ADF4 , #73A3F5, #7F99F5, #AF8CF5, #8A90E3,#526A95, #4C8780, #549659, #5DA68A, #67B5B8,#66ADF4 , #73A3F5, #7F99F5, #AF8CF5, #8A90E3,#526A95, #4C8780, #549659, #5DA68A, #67B5B8,#66ADF4 , #73A3F5, #7F99F5, #AF8CF5, #8A90E3,#526A95, #4C8780, #549659, #5DA68A, #67B5B8,#66ADF4 , #73A3F5, #7F99F5, #AF8CF5, #8A90E3);
    background-size: 1000% 1000%;
    animation: Gradient 400s linear infinite;
}

//animations 
  @keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
  }