.pictures{  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .pic{
        margin: 1px;
        width: 32%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #e1e1e1;
    }
}
.ref{
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
}
.main{
    background:#c4d4de;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    z-index: -100;
}
.inputCustom{
    display: inline-block;
    width:100%;
    padding:15px 20px;
    cursor:pointer;
    text-align: center;
    background: #a6dac2;
    margin-bottom: 5px;
}
.fileinput{
    display: none;
}
.submitButton{
    display:inline-block;
    padding:6px 12px;
    cursor:pointer;
    background: #9b9b9b;
    border: 1px solid #9b9b9b;
    text-align: center;
    width:100%;
}
.loading{
    background: #35e712;
}
.progress{
    background: #6de23700;
}
.disabled{
    background: #9b9b9b;
}
.enabled{
    background: #5dbaca;
}
.hasFiles{
    background: #5dca8e;
}
.loadingPics{
    display:inline-block;
    cursor:pointer;
    background: #7692a7;
    border: 1px solid #7692a7;
    width:100%;
    text-align: center;
}